<!DOCTYPE html>
<html lang={{ locale|default("en") }}>
<head>
    <meta charset={{ charset|default("UTF-8") }}>
    <title>{{ title|default("Home")|translate }}</title>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
