{%  extends "common.html.twig" %}

{% set title = "Home"|translate %}

{% block body %}
    <h4>{{ "Locale"|translate }} = {{ locale }}</h4>
    <p>{{ "Thank you so much for visiting our page!"|translate }}</p>
    <p>{{ "Please enjoy your stay"|translate }}</p>
{% endblock %}